.about-container{
  background-color: #e86f9e;
  height: 100vh;
}
.about-container h2{
  margin-top: 0;
  padding-top: 20px;
}
.about-container p{
  font-size: 1em;
  color: #2f0213;
}
.section-container{
  max-width: 600px;
  margin: auto;
  text-align: justify;
}
@media (max-width:610px){
  .about-container p{
    font-size: .6em;
    margin: auto;
    max-width: 200px;
    color: #2f0213;
  }
}